.file-input {
  position: relative;
  display: inline-block;
}

.custom-file-upload {
  display: inline-block;
  padding: 8px 16px;
  cursor: pointer;
  background-color: black;
  color: #eff6ff;
  border: thin solid #6fd1f8;
  border-radius: 5px;
  font-size: 18px;
}

.custom-file-upload:hover {
  color: #6fd1f8;
}

#file-upload {
  display: none; /* Oculta el input original */
}
