@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "WinterTrendy";
  src: url("/fonts/WinterTrendy.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "WinterTrendy", sans-serif;
  /* background-image: url("/cristo.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; */
}

.custom-swiper .swiper-button-next,
.custom-swiper .swiper-button-prev {
  color: white;
}

.custom-swiper .swiper-pagination-bullet {
  background-color: rgba(255, 255, 255, 0.5);
}

.custom-swiper .swiper-pagination-bullet-active {
  background-color: white;
}

.custom-popup {
  width: 400px;
  height: 200px;
  border-radius: 10px;
}

.custom-confirm-button {
  color: #4968b0 !important;
  border: thin solid #4968b0;
}

.custom-cancel-button {
  color: #b91c1c !important;
  border: thin solid #b91c1c;
}
/* form style */
.file-input {
  position: relative;
  display: inline-block;
}

.custom-file-upload {
  display: inline-block;
  padding: 8px 16px;
  cursor: pointer;
  background-color: #1f2d4e;
  color: #eff6ff;
  border: thin solid #4968b0;
  border-radius: 5px;
}

.custom-file-upload:hover {
  color: #4968b0;
}

#file-upload {
  display: none; 
}
